@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
*{
  background: #191919;
  font-family: 'Playfair Display', serif;
}

html, body{
  width:100%;
  height: 100%;
  margin: 0;
  background:  #191919;
  color:white;
}

a{
  color:red;
}

a:hover{
  color:#FF6347;
}
/**Header for website*/
.brand{
  float: left;
  margin-left: 30px;
  color: #FFD700;
  font-weight: bold;
  background: black;
}

.nav{
  border-bottom: 1px solid #EAEAEB;
  text-align: right;
  height: 70px;
  line-height: 70px;
  margin-bottom:10px;
  background: black;
}
.menu{
  margin: 0 30px 0 0;
  background: black;
}
.menu a{
  text-decoration: none;
  color:#FFD700;
  margin: 0 10px;
  line-height: 70px;
  font-weight: bold;
  background: black;
}
.menu a:hover{
  color:red;
}
#hamburger{
  margin:0 40px 0 0;
  font-size: 26px;
  line-height: 70px;
  display: none;
  width:26px;
  float:right;
  color: #FFD700;
  background: black;
}
#hamburger:hover{
  color:red;
}
#toggle{
  display: none;
}
@media only screen and (max-width:700px){
  #hamburger{
    display: block;
    cursor:pointer;
  }
  .menu{
    text-align: center;
    width: 100%;
    display: none;
  }
  .menu a{
    clear: right;
    display: block;
    border-bottom: 1px solid #EAEAEB;
    margin: 0;
    position: relative;
  }
  #toggle:checked + .menu{
    display: block;
    margin-bottom: 10px;
  }
}

/**Footer */
.footer{
  position: relative;
  left: 0;
  bottom:0;
  width: 100%;
  border-top: 1px solid #EAEAEB;
  color:#FFD700;
  font-weight: bold;
  display: flex;
  background: black;
  padding-bottom: 10px;
}

.box {
  margin:15px 5px 5px 5px;
  text-align: center;
  width: 33.33%;
  background: black;
}

.f-center{
  font-size: 12px;
  background: black;
}
.f-right{
  text-align: center;
  justify-content: center;
  align-items: center;
  background: black;
}

i, span{
  background: black;
}

.f-right a{
  margin: 3px;
}
.phone, .place, .email{
  background: black;
}

@media only screen and (max-width:700px){
  .footer{
    clear: right;
    display: block;
  }
  .box{
    text-align: center;
    width: auto;
  }
}

/**Main body*/
.main-body{
  margin: 3%;
  text-align:center;
}

img{
  filter:grayscale(100%);
}

/*category selection*/
input[type=submit] {
            background-color: #FFD700;
            border: none;
            text-decoration: none;
            color: black;
            padding: 20px 20px;
            margin-right:10px;
            cursor: pointer;
            font-weight: bold;
            border-radius: 30px;
            margin-left:15px;
            margin-top: 5px;

}
input[type=submit]:hover{
  background: #DAA520;
}
hr{
  color:white;
  margin: 15px;
}

/**Card for article*/
.container-card{
  padding: 2px;
  background: gray;
  width: 250px;
  margin:3px;
  margin-top: 10px;
  border-radius: 4px;
  box-shadow: 0px 5px 15px rgba;
  display: inline-block;
}
.img-container-card img{
  width: 100%;
  height: 100%;
  border-radius: 4px 4px 0px 0px;
}
.content-container-card{
  padding: 10px 20px;
}
.h1-card{
  font-size:24px;
}
.h2-card{
background: #FFD700;
width: 80px;
font-size: 8px;
padding: 5px;
color: black;
text-align: center;
letter-spacing: 0.08rem;
text-transform: uppercase;
font-weight: 700;
}
.p-card{
color: grey;
font-weight: 700;
font-size: 12px;
letter-spacing: 0.02rem;
line-height: 1.3rem;
margin-bottom: 5px;
}

/**contact page*/
.contact {
  border-radius: 5px;
  padding: 20px;
}

input[type=text], input[type=email], textarea {
  width: 100%; /* Full width */
  padding: 12px;
  border:none; /* Some padding */
  border-bottom: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box;
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical;
  color: white;
}

/**blog page*/
.blog{
  width: 100%;
  text-align:center;
  margin-left: 20px;
  margin-right: 20px;
}

/**resume page*/
.education-img{
  display: inline-flex;
  align-items: center;
}
.img-resume{
  margin-right: 20px;
}
.img-resume img{
  border-radius: 25px;
}

/*Admin page*/
.admin-body{
  display: inline-flex;
}
.side-bar{
  width: 20%;
  min-width: 150px;
  padding: 20px;
  display: block;
}
.side-bar .item-admin{
  margin: 10px;
  margin-bottom: 15px;
}
.side-bar a{
  text-decoration: none;
  color:#FFD700;
  font-weight: bold;
}
.page-content{
  width: 80%;
}
